<!-- Month's name -->
<div class="text-3xl lg:text-4xl text-black dark:text-white">Januar</div>
{{ collection:veranstaltungen }}
{{ performance_dates}}
<div class="md:grid grid-cols-12 gap-4 items-baseline bg-darkWhite dark:bg-darkGray p-3">
    <div class="col-span-4">
        <!-- Event's category from the Kategorien taxonomy -->
        <div class="text-xs sm:text-sm uppercase tracking-widest font-bold" style="color: {{ kategorien }} {{ kategorie_farbe }}{{
        /kategorien }};">{{ kategorien }} {{ title }}
            {{ /kategorien }}</div>
        <!-- Event's date -->
        <div class="sm:text-lg text-black dark:text-white">{{ perf_date format_localized="%A %e. %B %Y" }}</div>
        <div class="sm:text-lg text-black dark:text-white">{{ perf_date format="H:i"}} Uhr</div>
    </div>

    <div class="col-span-8 sm:text-lg pt-5 md:py-0">
        <div class="text-xl sm:text-2xl font-bold leading-tight md:leading-normal text-black dark:text-white"><a
                href="{{ url }}">{{ title }}</a>
        </div>
        <div class="sm:text-lg text-black dark:text-white">{{ subtitle }}</div>
        <!-- Event's ticket URL -->
        <button
            class="text-center uppercase tracking-wider text-black dark:text-white hover:text-monsun dark:hover:text-monsun sm:text-lg"><a
                class="block" href="{{ ticket_url }}">
                <div class="pt-3 tracking-widest font-bold uppercase">Karten<span
                        class="text-monsun font-bold">&nbsp;→</span>
                </div>
            </a>
        </button>
    </div>
</div>{{ performance_dates}}
{{ /collection:veranstaltungen }}