{{# Info #}}
<div class="grid grid-cols-2 gap-1 sm:grid-cols-3 sm:gap-4  md:grid-cols-4">
    <div class="pb-2">
        <div class="text-sm font-bold">
            Spiel
        </div>
        <div class="text-sm">
            <div>Melissa Anna Schmidt
            </div>
            <div>Urs Fabian Winiger
            </div>
        </div>
    </div>

    <div class="pb-2">
        <div class="text-sm font-bold">
            Text
        </div>
        <div class="text-sm">
            <div> Michael Alexander Müller
            </div>
        </div>
    </div>

    <div class="pb-2">
        <div class="text-sm font-bold">
            Video & Animation
        </div>
        <div class="text-sm">
            <div> Mara Wild
            </div>
        </div>
    </div>

    <div class="pb-2">
        <div class="text-sm font-bold">
            Licht
        </div>
        <div class="text-sm">
            <div> Thomas Schick
            </div>
        </div>
    </div>
    <div class="pb-2">
        <div class="text-sm font-bold">
            Technik OFFline
        </div>
        <div class="text-sm">
            <div>Oliver Gayk
            </div>
            <div>Robert Schüller
            </div>
        </div>
    </div>
    <div class="pb-2">
        <div class="text-sm font-bold">
            Technik ONline
        </div>
        <div class="text-sm">
            <div> Ole Schmetzer
            </div>
        </div>
    </div>
    <div class="pb-2">
        <div class="text-sm font-bold">
            Produktionsassistenz
        </div>
        <div class="text-sm">
            <div>Lotta Huber
            </div>
        </div>
    </div>
    <div class="pb-2">
        <div class=" text-sm font-bold">
            Konzept & Ausstattung
        </div>
        <div class="text-sm">
            <div>Francoise Hüsges
            </div>
        </div>
    </div>
</div>