<div class="max-w-4xl mx-auto">
    <div class="text-2xl px-3 pb-3">Demnächst</div>
    <div class="xl:max-w-4xl mx-auto px-3">
        <div class="font-bold sm:text-lg">Freitag&nbsp;|&nbsp;13.09.2020</div>
        <div class="sm:text-lg pb-3">Schauspiel</div>
        <img class="pb-3 md:hidden" src="https://source.unsplash.com/uYwa3qVHmnk/1400x700" alt=""><img
            class="pb-3 hidden md:block" src="https://source.unsplash.com/uYwa3qVHmnk/1400x500" alt="">


        <div class="grid items-baseline md:grid-cols-6 gap-4">
            <div class="col-span-2">
                <div class="text-2xl font-bold sm:text-3xl">Bruchlinien</div>
                <div class="sm:text-lg">Von Michael Alexander Müller</div>
            </div>
            <div class="col-span-4">
                <div class="italic text-sm sm:text-base md:text-base">
                    Ist dies der richtige Ort alles zu erzählen? Es wird nie den richtigen Ort geben. Jeder Ort ist ein
                    Ort
                    der
                    Unsicherheit. Gibt es eine Zeit, in der ausgesprochen werden muss, was geschehen ist? Den Zeitpunkt
                    weißt
                    nicht
                    einmal du selbst. Du meinst es geschieht. Es geschieht, weil es muss, nicht, weil du es willst. Es
                    geschieht,
                    weil etwas nicht Erklärbares aus dir herausdrängt. Du kannst es nicht mehr aufhalten. Du kannst
                    nicht
                    anders.<span>...→</span></div>
            </div>
        </div>
    </div>