<div class="block">
    {{ partial:components/figure_onesize image="{{hero_featured_image}}" class="" }}
    <div class=" h-full w-full z-10 flex items-center text-center">

        <div class="flex-1 p-3">
            <h1 class="leading-none mb-4">{{ hero_title_desc }}</h1>
            <h2 class="lowercase text-xl">{{ hero_title }}</h2>
            <h3 class=" text-xl">{{ partial:components/button :content="hero_buttons"}}</h3>

        </div>
    </div>
    <img class="fit mix-{{ blend_mode or 'none' }} w-full h-{{ height }}" src="{{ image }}" alt="{{ alt }}">
    {{ if show_topic }}<p class="absolute pin-b pin-l pin-r m-3 w-full text-center opacity-75 p-2 font-subheading">{{
        topics | sentence_list }}</p>{{ /if }}
</div>