{{# Entry start #}}
<div
    class="items-baseline grid-cols-12 gap-4 p-3 md:grid bg-darkWhite dark:bg-darkGray"
>
    <div class="col-span-4">
        <!-- Event's category from the Kategorien taxonomy -->
        <div class="pb-1">
            <button
                aria-label="Vorstellungen in der {{ kategorien }} {{ title }} {{
                            /kategorien }} Kategorie Zeigen"
                class="p-2 text-xs font-bold tracking-widest text-white uppercase "
                style="background-color: {{ kategorien }} {{ kategorie_farbe }}{{
                            /kategorien }};"
            >
                {{ kategorien }}<a href="{{ url }}">{{ title }}</a> {{
                /kategorien }}{{ if from_to_toggle }}
                <span>{{from_to}}</span> {{ /if }}
            </button>
            <!-- Premiere Type -->
            {{if premiere_toggle}}
            <div class="pt-1">
                <button
                    aria-label="Premieren Zeigen"
                    class="p-2 text-xs font-bold tracking-widest bg-error-700 text-white uppercase "
                >
                    <a href="/premieren">{{ premiere_type }}</a>
                </button>
            </div>
            {{ /if }}
        </div>
        <!-- Special event -->
        {{if special_event_toggle}}
        <div
            class="pt-1 font-medium tracking-widest text-black uppercase  dark:text-white"
        >
            {{ special_event_title }}
        </div>
        {{ /if }}
        <!-- Event's date and time -->
        <div class="text-black text-sm dark:text-white">
            {{ perf_date iso_format="dddd, Do MMMM YYYY" }}
        </div>
        <div class="text-black text-sm dark:text-white">
            {{ perf_date iso_format="H:mm"}} Uhr
        </div>
        <!-- Last performance -->
        {{if last_performance}}
        <div class="text-black dark:text-white sm:text-lg">
            Zum letzten Mal!
        </div>
        {{ /if }}
        <!-- monsun.digital -->
        {{if monsun_digital }}

        <button
            aria-label="Premieren Zeigen"
            class="sm:text-lg tracking-wide dark:text-white hover:text-monsun dark:hover:text-monsun"
        >
            <a href="/monsun-digital">monsun.digital</a>
        </button>

        {{ /if }}
    </div>
    <!-- Event's title and subtitle -->
    <div class="col-span-8 pt-5  md:py-0">
        <div
            class="text-xl font-bold break-words leading-tight text-black  md:leading-normal dark:text-white"
        >
            <a href="{{ url }}">{{ title }}</a>
        </div>
        {{ if show_add_title}}
        <div
            class="text-sm font-bold leading-tight text-black  md:leading-normal dark:text-white"
        >
            <a href="{{ url }}">{{ additional_title }}</a>
        </div>
        {{ /if }}
        <div class="text-black  dark:text-white">
            <a href="{{ url }}">{{ subtitle }}</a>
        </div>
    </div>
</div>
{{# Entry end #}}
