<!-- I need a component that shows today’s performances(Today/Heute) If there are no performances today 
it shows an x amount (3 upcoming performances) of upcoming performances(Future Performances/Demnächst). 
And if there is nothing to show at all the components are not visible.
-->

<!-- Today/Heute -->
<div class="text-3xl lg:text-4xl text-black dark:text-white">Today/Heute</div>
{{ collection:veranstaltungen}}
<div class="md:grid grid-cols-12 gap-4 items-baseline bg-neutral-100 dark:bg-darkGray p-3">
    <div class="col-span-4">
        <button aria-label="Vorstellungen in der {{ kategorien }} {{ title }} {{
            /kategorien }} Kategorie Zeigen"
            class="text-white p-2 text-xs sm:text-sm uppercase tracking-widest font-bold" style="background-color: {{ kategorien }} {{ kategorie_farbe }}{{
            /kategorien }};">{{ kategorien }} {{ title }}
            {{ /kategorien }}</button>
        <div class="sm:text-lg text-black dark:text-white">{{ perf_date format_localized="%A %d %B %Y" }}</div>
        <div class="sm:text-lg text-black dark:text-white">{{ perf_date format="H:i"}} Uhr</div>
    </div>

    <div class="col-span-8 sm:text-lg pt-5 md:py-0">
        <div class="text-xl sm:text-2xl font-bold leading-tight md:leading-normal text-black dark:text-white"><a
                href="{{ url }}">{{ title }}</a>
        </div>
        <div class="sm:text-lg text-black dark:text-white">{{ subtitle }}</div>
        <button class="text-center uppercase tracking-wider text-black dark:text-white hover:text-monsun sm:text-lg"><a
                class="block" href="{{ ticket_url }}">
                <div class="pt-3 tracking-widest font-bold uppercase">Karten<span
                        class="text-monsun font-bold">&nbsp;→</span>
                </div>
            </a>
        </button>
    </div>
</div>
{{ /collection:veranstaltungen}}

<!-- Future Performances/Demnächst -->
<div class="text-3xl lg:text-4xl text-black dark:text-white">Future Performances/Demnächst</div>
{{ collection:veranstaltungen}}
<div class="md:grid grid-cols-12 gap-4 items-baseline bg-neutral-100 dark:bg-darkGray p-3">
    <div class="col-span-4">
        <button aria-label="Vorstellungen in der {{ kategorien }} {{ title }} {{
            /kategorien }} Kategorie Zeigen"
            class="text-white p-2 text-xs sm:text-sm uppercase tracking-widest font-bold" style="background-color: {{ kategorien }} {{ kategorie_farbe }}{{
            /kategorien }};">{{ kategorien }} {{ title }}
            {{ /kategorien }}</button>
        <div class="sm:text-lg text-black dark:text-white">{{ perf_date format_localized="%A %d %B %Y" }}</div>
        <div class="sm:text-lg text-black dark:text-white">{{ perf_date format="H:i"}} Uhr</div>
    </div>
    <div class="col-span-8 sm:text-lg pt-5 md:py-0">
        <div class="text-xl sm:text-2xl font-bold leading-tight md:leading-normal text-black dark:text-white"><a
                href="{{ url }}">{{ title }}</a>
        </div>
        <div class="sm:text-lg text-black dark:text-white">{{ subtitle }}</div>
        <button class="text-center uppercase tracking-wider text-black dark:text-white hover:text-monsun sm:text-lg"><a
                class="block" href="{{ ticket_url }}">
                <div class="pt-3 tracking-widest font-bold uppercase">Karten<span
                        class="text-monsun font-bold">&nbsp;→</span>
                </div>
            </a>
        </button>
    </div>
</div>
{{ /collection:veranstaltungen}}