<div class="max-w-4xl mx-auto">
    <div class="text-3xl px-3 pb-3">Demnächst</div>
    <!-- Fst 1 -->
    <div class="xl:max-w-4xl mx-auto px-3 pb-12 md:grid grid-cols-8 gap-4 items-baseline">
        <div class="col-span-2">
            <div class="font-bold sm:text-xl">03.11 - 04.03.2021</div>
            <div class="sm:text-lg pb-3">Schauspiel</div>
        </div>

        <div class="col-span-4">
            <div class="text-xl font-bold">Anastasia, wann bekommst du deine Juwelen
                zurück?</div>
            <div class="sm:text-lg">Von Michael Alexander Müller</div>
        </div>
        <div class="col-span-2">
            <button class="text-center uppercase tracking-wide hover:text-monsun sm:text-lg"><a class="block" href="/">
                    <div class="">Karten<span class="text-monsun">&nbsp;→</span>
                    </div>
                </a>
            </button>
        </div>

    </div>



    <!-- Spielplan -->

    <div class="text-3xl px-3 pb-3">Spielplan 2020-2021</div>
    <!-- Fst 1 -->
    <div class="xl:max-w-4xl mx-auto px-3 pb-12">
        <div class="font-bold sm:text-lg">03.11 - 04.03.2021</div>
        <div class="sm:text-lg pb-3">Schauspiel</div>
        <img class="pb-3 md:hidden" src="https://source.unsplash.com/random/1400x700" alt=""><img
            class="pb-3 hidden md:block" src="https://source.unsplash.com/random/1400x500" alt="">
        <div class="grid items-baseline md:grid-cols-6 gap-4">
            <div class="col-span-3">
                <div class="text-xl font-bold sm:text-xl leading-none">Anastasia, wann bekommst du deine Juwelen
                    zurück?</div>
                <div class="sm:text-lg">Von Michael Alexander Müller</div>
            </div>
            <div class="col-span-3">
                <div class="italic text-sm sm:text-base md:text-base">
                    „Es ist dem Gericht unmöglich, seine Entscheidung in Kürze zu begründen. Eine auch nur annähernd
                    vollständige Begründung füllt ein Buch.“<span>...→</span></div>
            </div>
        </div>
    </div>
</div>