
<div class="md:grid grid-cols-12 gap-4 items-baseline">
    {{ spielzeit_eintraege }}
    {{ if no_results }}
    <div class="text-2xl md:col-span-12 text-black dark:text-white">Zur Zeit keine Vorstellungen.</div>
    <div class="pt-9 md:col-span-12"><button aria-label="Zur Startseite"
            class="max-w-sm mx-auto sm:max-w-none flex justify-center text-black dark:text-white">
            <a href="/"
                class="flex items-center justify-center px-4 py-3 border-2  text-md font-bold tracking-wider uppercase shadow-sm
                      hover:bg-monsun dark:hover:bg-monsun sm:px-8 focus-visible:ring-2 focus-visible:border-monsun">Zur
                Startseite</a>
        </button></div>
    {{ else }}
    <div class="col-span-4">

        <button aria-label="Vorstellungen in der {{ kategorien }} {{ title }} {{
            /kategorien }} Kategorie Zeigen"
            class="p-2 mb-1 text-xs font-bold tracking-widest text-white uppercase sm:text-sm" style="background-color: {{ kategorien }} {{ kategorie_farbe }}{{
            /kategorien }};">{{ kategorien }} <a href="{{ url }}">{{ title }}
                {{ /kategorien }}{{ if from_to_toggle }} <span>{{from_to}}</span> {{ /if }}</a></button>
        {{ veranstaltungsoerter }}

        <div class="text-black sm:text-lg dark:text-white">{{ title }} </div>{{ /veranstaltungsoerter }}
    </div>
    <div class="col-span-8 pb-6">
        <a href=" {{ url }}">
            <div class="text-2xl font-bold sm:text-3xl leading-tight text-black dark:text-white">
                {{ title }}</div>
            <div class="sm:text-lg pb-2 dark:text-white font-medium">{{ additional_title }}</div>
            <div class="sm:text-lg pb-2 dark:text-white">{{ subtitle }}</div>
            <figure class="pb-3">{{ partial:components/picture class="w-full"}}</figure>
        </a>

        <a href=" {{ url }}"
            class="italic text-sm sm:text-base text-black dark:text-white hover:text-monsun dark:hover:text-monsun">
            {{# Fall back to the bard field. #}}
            {{ page_builder limit="1" }}
            {{ if bard }}
            {{ bard where="type:text" limit="1" }}
            {{ text | strip_tags | safe_truncate:300:... }}
            {{ /bard }}
            {{# Or a field called `text`. #}}
            {{ elseif text }}
            {{ text safe_truncate="180|..." }}
            {{ /if }}
            {{ /page_builder }}
            <span class="text-monsun font-bold">→</span>
        </a>
    </div> {{ /if }}{{ /spielzeit_eintraege }}
</div>