<!-- This is a component that shows today’s performances (Today/Heute):
- if there are no performances today it shows 3 upcoming performances of upcoming performances (Future Performances/Demnächst).
- lastly if there is nothing to show at all the component is not visible.
-->

<!-- Today/Heute -->
{{ events:today as="dates"}}
    {{ if no_results }}
        {{ partial:components/monsun_feed_future_perf }}
    {{ else }}
        {{ partial:components/monsun_feed_today_perf }}
    {{ /if }}
{{ /events:today }}
