<!-- Aktuelles -->
<div class="text-3xl lg:text-4xl">Aktuelles</div>
{{ collection:aktuelles sort="desc" }}
<div class="md:grid grid-cols-12 gap-4 items-baseline pb-3">
    <div class="col-span-4">
        <div class="sm:text-lg">{{ date }}</div>
    </div>
    <div class="col-span-8">
        <div class="text-xl sm:text-2xl font-bold leading-tight ">
            {{ title }}</div>
        <div class="sm:text-lg pb-2">{{ untertitel }}</div>
        <figure class="pb-3"><img src="{{ bild_url }}" alt=""></figure>
        <div class="text-sm sm:text-base">
            {{ einleitung }}<span class="text-monsun font-bold"> →</span></div>
    </div>
    <span class="pb-6"></span>

</div>
{{ /collection:aktuelles }}