<!-- I need to display No Upcoming Events Message (See Message below)when all the event's dates have passed  -->

<div class="grid-cols-12 gap-4 md:grid">
    <div class="col-span-8 p-3 md:col-start-5 bg-darkWhite dark:bg-darkGray">
        {{ performance_dates future="true" }} {{ if no_results }}
        <div
            class="col-span-3 text-base font-medium text-black sm:text-xl dark:text-white"
        >
            Zur Zeit keine Vorstellungen.
        </div>
        {{ else }}
        <div class="grid-cols-8 gap-4 pb-4 sm:grid sm:pb-3">
            <div
                class="col-span-3 text-base font-medium text-black sm:text-xl dark:text-white"
            >
                <div>
                    {{ perf_date iso_format="dddd" }}
                </div>
            </div>
            {{# Right-side component #}}
            <div class="pb-3 text-xl text-black sm:col-span-5 dark:text-white">
                {{if premiere_toggle}}
                <button
                    aria-label="Premieren Zeigen"
                    class="p-2 text-xs font-bold tracking-widest bg-error-700 text-white uppercase sm:text-sm"
                >
                    <a href="/premieren">{{ premiere_type }}</a>
                </button>
                {{ /if }}
                <div>
                    {{ perf_date iso_format="dddd, Do MMMM YYYY" }} | {{
                    perf_date iso_format="H:mm" }} Uhr
                </div>
                <!-- Tickets sold out -->
                {{ if sold_out}}
                <div
                    class="font-bold tracking-widest uppercase dark:text-white sm:text-lg"
                >
                    Ausverkauft!
                </div>
                <!-- Event cancelled -->
                {{ elseif cancelled }}
                <div
                    class="font-bold tracking-widest uppercase dark:text-white sm:text-lg"
                >
                    Abgesagt
                </div>
                <!-- Tickets available -->
                {{ else }}
                <button
                    class="block tracking-wider text-center uppercase hover:text-monsun sm:text-lg"
                >
                    <a class="block" href="{{ ticket_url }}">
                        <div class="font-bold tracking-widest uppercase">
                            {{if few_tickets_left}}Rest{{ /if }} {{ if
                            kartenlink_verstecken }} {{ else }} Karten<span
                                class="font-bold text-monsun"
                                >&nbsp;→</span
                            >{{ /if }}
                        </div>
                    </a>
                </button>
                {{ if additional_info_performance_toggle}}
                <div class="text-sm dark:text-white">
                    {{ additional_info_performance }}
                </div>
                {{ /if }} {{# monsun.digital #}} {{ if monsun_digital }}
                <button
                    class="block tracking-wider text-center uppercase hover:text-monsun sm:text-lg"
                >
                    <a class="block" href="{{ streaming-link }}">
                        <div class="font-bold tracking-widest uppercase">
                            streaming-link<span class="font-bold text-monsun"
                                >&nbsp;→</span
                            >
                        </div>
                    </a>
                </button>
                {{ if streaming_info}}
                <div class="text-sm dark:text-white">
                    {{ additional_streaming_info }}
                </div>
                {{ /if }} {{ /if }}{{ /if }}
            </div>
            {{# Right-side component end#}}
        </div>
        {{ /if }} {{ /performance_dates }}
    </div>
</div>
