<!-- Aktuelles -->
<div class="text-3xl lg:text-4xl">Aktuelles</div>
<div class="md:grid grid-cols-12 gap-4 items-baseline pb-3">
    <div class="col-span-4">
        <div class="sm:text-lg">01.01.2021</div>
    </div>
    <div class="col-span-8">
        <div class="text-xl font-bold sm:text-xl leading-tight ">
            Schönes Neues Jahr!</div>
        <div class="sm:text-lg pb-2">monsun.theater hat eine ganz neue Website!</div>
        <figure class="pb-3"><img
                src="https://mcusercontent.com/ac2881538168a724cf44bca81/images/d07152b1-f2ca-4f20-9039-b4b2a7d77b44.jpg"
                alt=""></figure>
        <div class="text-sm sm:text-base">
            Wir sind stolz darauf, Ihnen unsere neue Website vorstellen zu dürfen.<span
                class="text-monsun font-bold">→</span></div>
    </div>
    <span class="pb-6"></span>
</div>
<div class="md:grid grid-cols-12 gap-4 items-baseline pb-3">
    <div class="col-span-4">
        <div class="sm:text-lg">21.02.2021</div>
    </div>
    <div class="col-span-8">
        <div class="text-xl font-bold sm:text-xl leading-tight ">
            Theaternacht</div>
        <div class="sm:text-lg pb-2">monsun.digital!</div>
        <figure class="pb-3"><img src="https://source.unsplash.com/KieCLNzKoBo/1400x700" alt=""></figure>
        <div class="text-sm sm:text-base">
            Die Theaternacht Hamburg 2020 - in diesem Jahr ist alles etwas anders als gewohnt: Corona und die verzögerte
            Baustelle zum barrierefreien Umbau erlauben keine Zuschauer vor Ort. Dafür lassen wir es digital so richtig
            krachen!
            Von 19:00 - 00:00 Uhr werden im Rahmen einer fünfstündigen Liveshow Gespräche mit Künstler*innen,
            Unterstützer*innen, Bauexpert*innen und dem monsun.team geführt.<span class="text-monsun font-bold">→</span>
        </div>
    </div>
    <span class="pb-6"></span>
</div>