<div class="md:grid grid-cols-12 gap-4">
    <div class="col-span-8 md:col-start-5">
        {{ partial src="typography/h3" :content="subtitle" class="dark:text-white pb-1" }}
        <!-- {{ if from_to_toggle }}
        <div class="text-sm text-black dark:text-white"> <span class="font-bold ">{{ from_to }}</span></div>
        {{ /if }} -->
        <div class="text-sm text-black dark:text-white"> <span class="font-bold ">Premiere:&nbsp</span>
            {{ premiere_date format_localized="%A, %d %B %Y" }} | {{ premiere_date format_localized="%H:%M" }} Uhr</div>
        <div class="text-sm text-black dark:text-white"><span class="font-bold ">Dauer:&nbsp</span>{{ duration }} | {{
            intermission }}</div>
        <div class="text-sm text-black dark:text-white"><span class="font-bold ">Karten:</span> {{ ticket_price_profile
            }} {{ title }} {{
            /ticket_price_profile }}
        </div>
        <div class="text-sm text-black dark:text-white"><span class="font-bold ">Ort:</span> {{ veranstaltungsoerter }}
            {{ title }} {{
            /veranstaltungsoerter }}
        </div>
        {{ partial src="typography/h3" :content="additional_info" class="dark:text-white pt-1" }}
    </div>
</div>