<!-- Today/Heute -->
<div class="text-3xl text-black lg:text-4xl dark:text-white">Today/Heute</div>
{{ dates }}
    <div class="items-baseline grid-cols-12 gap-4 p-3 md:grid bg-neutral-100 dark:bg-darkGray">
        <div class="col-span-4">
            <button aria-label="Vorstellungen in der {{ kategorien }} {{ title }} {{
                /kategorien }} Kategorie Zeigen"
                class="p-2 text-xs font-bold tracking-widest text-white uppercase sm:text-sm" style="background-color: {{ kategorien }} {{ kategorie_farbe }}{{
                /kategorien }};">{{ kategorien }} <a href="{{ url }}">{{ title }}</a>
                {{ /kategorien }}</button>
            <div class="text-black sm:text-lg dark:text-white">{{ perf_date format_localized="%A %d %B %Y" }}</div>
            <div class="text-black sm:text-lg dark:text-white">{{ perf_date format="H:i"}} Uhr</div>
        </div>

        <div class="col-span-8 pt-5 sm:text-lg md:py-0">
            <div class="text-xl font-bold leading-tight text-black sm:text-2xl md:leading-normal dark:text-white"><a
                    href="{{ url }}">{{ title }}</a>
            </div>
            <div class="text-black sm:text-lg dark:text-white">{{ subtitle }}</div>
            <button class="tracking-wider text-center text-black uppercase dark:text-white hover:text-monsun sm:text-lg"><a
                    class="block" href="{{ ticket_url }}">
                    <div class="pt-3 font-bold tracking-widest uppercase">Karten<span
                            class="font-bold text-monsun">&nbsp;→</span>
                    </div>
                </a>
            </button>
        </div>
    </div>
{{ /dates }}
