<!-- Hero card -->
{{ hero_featured_sect }}
<div class="relative">
    <div class="max-w-full mx-auto">
        <div class="relative shadow-xl overflow-hidden">
            <div class="absolute inset-0">
                {{ partial:components/picture image="{{featured_image}}" class="h-full w-full object-cover" }}
                <div class="absolute inset-0 {{ if einfarbiger_hintergrund}} bg-white dark:bg-black {{ else
                    }}bg-neutral-300" style="mix-blend-mode: multiply;{{ /if}}"></div>
            </div>
            <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
                <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
                    <span
                        class="block {{ if einfarbiger_hintergrund}}text-black dark:text-white {{ else }} text-white {{ /if }}">{{
                        title }}</span>
                </h1>
                <p
                    class="mt-6 max-w-lg mx-auto text-center font-medium  {{ if einfarbiger_hintergrund}}text-black dark:text-white {{ else }} text-white {{ /if }} text-xl sm:max-w-3xl">
                    {{
                    title_desc }}
                </p>
                <button aria-label="{{ attr_aria }}" class="mt-10 max-w-sm mx-auto sm:max-w-none flex justify-center">
                    <div class="space-y-4 sm:mx-auto sm:inline">
                        {{buttons}}
                        <{{ tag or 'a' }} {{ attribute }} class="flex items-center justify-center px-4
                                        py-3 border-2  {{ if einfarbiger_hintergrund}}text-black dark:text-white {{ else }} text-white {{ /if }} text-md font-bold tracking-wider uppercase shadow-sm
                                          hover:bg-monsun sm:px-8" {{ unless faux }} {{
                            partial:components/button_attributes }} {{ /unless }}>{{ label }} </{{ tag or 'a' }}>
                        {{/buttons}}
                    </div>
                </button>

            </div>
        </div>
    </div>
</div>{{ /hero_featured_sect }}