<div class="text-xl border-b-2 border-t-2 p-3">Demnächst</div>
<div class="border-b-2 border-l-8 border-neutral-600 p-3">
    <div>
        <div class="">
            <div class="pb-3 sm:text-lg">Schauspiel</div>
            <div class="text-2xl font-bold sm:text-4xl">Bruchlinien</div>
            <div class="pb-3 sm:text-lg">Von Michael Alexander Müller</div>

            <div class="font-bold sm:text-lg pb-3">Freitag, 13 Sep um 18.30 </div>
        </div>
    </div>
    <div class="mx-auto max-w-md pb-3"><img src="https://source.unsplash.com/AMXuKJl0T1g/500x280" alt=""></div>
    <div class="italic text-sm  sm:text-base md:text-lg">
        Ist dies der richtige Ort alles zu erzählen? Es wird nie den richtigen Ort geben. Jeder Ort ist ein Ort der
        Unsicherheit. Gibt es eine Zeit, in der ausgesprochen werden muss, was geschehen ist? Den Zeitpunkt weißt nicht
        einmal du selbst. Du meinst es geschieht. Es geschieht, weil es muss, nicht, weil du es willst. Es geschieht,
        weil etwas nicht Erklärbares aus dir herausdrängt. Du kannst es nicht mehr aufhalten. Du kannst nicht
        anders.<span>...→</span>
    </div>

</div>
</div>
</div>
<div class="text-xl border-b-2 p-3">Spielzeit 2020-21</div>