{{# Termine #}}
<div class="md:grid grid-cols-12 gap-4">
    <div class="col-span-8 md:col-start-5 bg-neutral-100 dark:bg-darkGray p-3">

        {{ performance_dates}}
        {{ if perf_date | is_future }}
        <div class="sm:grid grid-cols-8 pb-3 sm:pb-1 gap-4">
            <div class="text-base sm:text-xl col-span-3 font-medium text-black dark:text-white">
                <div>
                    {{ perf_date format_localized="%A"}}
                </div>
            </div>
            <div class="text-xl sm:col-span-5 pb-3 text-black dark:text-white">
                <div>
                    {{ perf_date format_localized="%d %B %Y"}} | {{ perf_date format="H:i"}} Uhr
                </div>
                <button class="text-center uppercase tracking-wider hover:text-monsun sm:text-lg"><a class="block"
                        href="{{ ticket_url }}">
                        <div class="tracking-widest font-bold uppercase">Karten<span
                                class="text-monsun font-bold">&nbsp;→</span>
                        </div>
                    </a>
                </button>
            </div>
        </div>
        {{ /if }}
        {{ /performance_dates }}

    </div>
</div>