<div class="md:grid grid-cols-12 gap-4">
    <div class="col-span-8 md:col-start-5">
        {{ partial src="typography/h3" :content="subtitle" class="dark:text-white pb-1" }}
        {{# {{ if from_to_toggle }}
        <div class="text-sm text-black dark:text-white"> <span class="font-bold ">{{ from_to }}</span></div>
        {{ /if }} #}}
        {{ if urauffuehrung_zeigen }}<div class="text-sm text-black dark:text-white"> <span
                class="font-bold ">Premiere:&nbsp</span>
            {{ premiere_date iso_format="dddd, Do MMMM YYYY" }} | {{ premiere_date iso_format="H:mm" }} Uhr
        </div>
        {{ /if }}
        {{ if dauer_zeigen }} <div class="text-sm text-black dark:text-white"><span
                class="font-bold ">Dauer:&nbsp</span>{{ duration }} {{ if pause_zeigen}}| {{
            intermission }}{{/if}}</div> {{ /if }}
        {{ if extra_info_zeigen}}
        {{ extra_info_section_grid }}
        <div class="text-sm text-black dark:text-white"><span class="font-bold ">
                {{ bezeichnung }}:</span> {{ beschreibung }}</div>
        {{ /extra_info_section_grid }}
        {{ /if }}
        <div class="text-sm text-black dark:text-white"><span class="font-bold ">Ort:</span> {{ veranstaltungsoerter }}
            {{ title }} </br> {{
            /veranstaltungsoerter }} 
        </div>
        <div class="text-sm text-black dark:text-white"><span class="font-bold ">Karten:</span> {{
            ticket_price_profile
            }} {{ title }} {{
            /ticket_price_profile }}
        </div>
        {{ partial src="typography/h3" :content="additional_info" class="dark:text-white pt-1" }}
    </div>
</div>