{{# The outer wrapper grid as defined in tailwind.config.js. It makes sure all blocks on a page get evenly spaced
without having to worry about margins or paddings. #}}
{{if monsun_alert}} {{ partial:components/monsun_alert}} {{ /if }}

{{ partial:components/monsun_featured}}
<main class="outer-grid fluid-container">



    {{ partial:components/monsun_wall}}
    {{# {{ partial:components/monsun_vst_perf_list_monthly}} #}}
    {{ page_builder scope="block" }}
    {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
</main>