{{# The outer wrapper grid as defined in tailwind.config.js. It makes sure all blocks on a page get evenly spaced
without having to worry about margins or paddings. #}}
{{ partial:components/monsun_featured}}
<main class="outer-grid fluid-container">
    {{ partial:components/_monsun_feed_upcoming_perf}}
    {{ partial:components/_monsun_feed_news}}
    <!-- Spielplan -->
    <div class="text-3xl lg:text-4xl text-black dark:text-white">Spielplan</div>
    {{ collection:veranstaltungen limit="3" sort="date" }} {{ partial:components/_monsun_feed_programme}}{{
    /collection:veranstaltungen }}
    {{ page_builder scope="block" }}
    {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
</main>