<main class="outer-grid fluid-container">
    {{ partial src="typography/h2" :content="title" class="dark:text-white"}}
    <div class="md:grid grid-cols-12 gap-4">
        <div class="col-span-8 md:col-start-5">
            <div class="pb-12">
                <div class="text-xl dark:text-white">BETREIBER</div>
                <div class="text-lg dark:text-white">{{ config:app:name }}</div>
                {{ kontaktdaten }}
                <div class="text-lg dark:text-white">{{ strasse }} {{ hausnummer }}</div>
                <div class="text-lg dark:text-white">{{ postleitzahl }} {{ wohnort}}</div>
                <div><a class="text-lg dark:text-white" href="tel:{{ telefonnummer }}">Tel: {{ telefonnummer }}</a>
                </div>
                <div class="text-lg dark:text-white">Fax: {{ fax }}</div>
                <div><a class="text-lg dark:text-white font-bold" href="{{ website }}">
                        {{ website }}</a></div>
                <div><a class="text-lg dark:text-white font-bold" href=" mailto:{{ e-mail-adresse | obfuscate_email }}">
                        {{e-mail-adresse | obfuscate_email }}</a></div>
                {{ /kontaktdaten }}
            </div>
            {{ monsun_team }}
            {{mitglieder}}
            <div class="pb-12">
                <h3 class="text-lg dark:text-white font-normal uppercase"> {{rolle}} </h3>
                <div class="text-lg dark:text-white font-medium"> {{name}} </div>

                {{ e-mail-adresse }}<div class="text-lg dark:text-white"> <a
                        class="text-lg font-bold dark:text-white hover:text-monsun dark:hover:text-monsun"
                        href=" mailto:{{ e-mail | obfuscate_email }}">{{e-mail | obfuscate_email }}</a>{{ if
                    extra_info_toggle }} {{ info }} {{ /if }}
                </div>{{ /e-mail-adresse }}
                {{ telefonnummer }} <div class="text-lg dark:text-white"><a href="tel:{{ nummer }}">{{ nummer }} </a>{{
                    if extra_info_telefon}} {{ info }} {{ /if }}
                </div>{{ /telefonnummer }}
                <div class="text-lg dark:text-white"> {{ if extra_info_toggle}} {{zusatsinfo}}{{ /if }}</div>
            </div>
            {{/mitglieder}}
            {{ /monsun_team }}
        </div>
    </div>
    {{ page_builder scope="block" }}
    {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
</main>