<main class="outer-grid fluid-container">
    {{ partial src="typography/h2" :content="title" class="text-black
    dark:text-white"}}
    <div class="md:grid grid-cols-12 gap-4">
        <div class="col-span-8 md:col-start-5">
            <div class="pb-12">
                <div class="text-xl text-black dark:text-white">BETREIBER</div>
                <div class="text-lg text-black dark:text-white">
                    {{ config:app:name }}
                </div>
                <div class="text-lg text-black dark:text-white">
                    {{ kontaktdaten:strasse }} {{ kontaktdaten:hausnummer }}
                </div>
                <div class="text-lg text-black dark:text-white">
                    {{ kontaktdaten:postleitzahl }} {{ kontaktdaten:wohnort }}
                </div>
                <div>
                    <a
                        class="text-lg text-black dark:text-white"
                        href="tel:{{ kontaktdaten:telefonnummer }}"
                        >Tel: {{ kontaktdaten:telefonnummer }}</a
                    >
                </div>
                <div>
                    <a
                        class="text-lg text-black dark:text-white font-bold"
                        href="{{ kontaktdaten:website }}"
                    >
                        {{ kontaktdaten:website }}</a
                    >
                </div>
                <div>
                    <a
                        class="text-lg text-black dark:text-white font-bold"
                        href="mailto:{{ kontaktdaten:mailadresse | obfuscate_email }}"
                    >
                        {{ kontaktdaten:mailadresse | obfuscate_email }}</a
                    >
                </div>
            </div>
            {{ monsun_team }} {{mitglieder}}
            <div class="pb-12">
                <h3
                    class="text-lg text-black dark:text-white font-normal uppercase"
                >
                    {{rolle}}
                </h3>
                <div class="text-lg text-black dark:text-white font-medium">
                    {{name}}
                </div>
                {{ mailadresse }}
                <div class="text-lg text-black dark:text-white">
                    <a
                        class="text-lg font-bold text-black dark:text-white hover:text-monsun dark:hover:text-monsun"
                        href="mailto:{{ e-mail | obfuscate_email }}"
                        >{{ e-mail | obfuscate_email }}</a
                    >
                </div>
                {{ /mailadresse }} {{ telefonnummer }}
                <div class="text-lg text-black dark:text-white">
                    <a href="tel:{{ nummer }}">Tel: {{ nummer }} </a>{{ if
                    extra_info_telefon}} {{ info }} {{ /if }}
                </div>
                {{ /telefonnummer }}
                <div class="text-lg text-black dark:text-white">
                    {{ if extra_info_toggle}} {{zusatsinfo}}{{ /if }}
                </div>
            </div>
            {{/mitglieder}} {{ /monsun_team }}
        </div>
    </div>
</main>
