<div class="outer-grid fluid-container">
    <section class="grid grid-cols-12 gap-y-6">
        <div class="col-span-12 md:col-span-8 md:col-start-5">
            {{ user:forgot_password_form reset_url="/reset-password" }} {{ if
            errors }}
            <div class="bg-error-600 text-white p-2">
                {{ errors }} {{ value }}<br />
                {{ /errors }}
            </div>
            {{ /if }} {{ if success }}
            <div class="bg-green-300 text-white p-2">{{ success }}<br /></div>
            {{ /if }}
            <label class="text-black dark:text-white">Email</label>
            <input
                class="block"
                type="text"
                name="email"
                value="{{ old:email }}"
            />

            <button
                class="pt-3 block dark:text-white hover:text-monsun"
                type="submit"
            >
                Send Reset Email<span class="text-monsun font-bold"> →</span>
            </button>

            {{ /user:forgot_password_form }}
        </div>
    </section>
</div>
