<main class="outer-grid fluid-container">
    <div class="text-3xl text-black lg:text-4xl dark:text-white">
        Passwort geschützte Seite
    </div>

    <div class="md:grid grid-cols-12 gap-4">
        <div class="col-span-8 md:col-start-5">
            {{ protect:password_form }} {{ if no_token }} No token has been
            provided. {{ else }}
            <label class="text-black dark:text-white text-sm font-normal"
                >Passwort angeben</label
            >
            <div class="flex space-x-1">
                <input
                    placeholder="Passwort angeben"
                    class="flex border-2"
                    type="password"
                    name="password"
                />
                <button
                    class="text-black dark:text-white flex items-center justify-center px-3 py-2 border-2 text-md font-bold tracking-wider uppercase shadow-sm hover:bg-monsun dark:hover:bg-monsun sm:px-8"
                >
                    SENDEN
                </button>
            </div>
            {{ errors:password }}
            <div class="block font-medium text-notice-600 mt-1">
                Bitte noch Mal versuchen. Vielen Dank!
            </div>
            {{ /errors:password }} {{ /if }} {{ /protect:password_form }}
            <h3 class="text-black dark:text-white text-xl mt-3">
                Wenn Sie noch keinen Pressezugang haben schreiben Sie uns gerne
                eine E&nbsp;-&nbsp;Mail an {{ kontaktdaten }}<a
                    class="font-bold"
                    href="mailto:{{ presse_e-mail | obfuscate_email }}"
                    >{{ presse_e-mail | obfuscate_email }}</a
                >{{ /kontaktdaten }}
            </h3>
        </div>
    </div>
</main>
