<!-- This layout is very similar to 'resources/views/veranstaltungen/index.antlers.html'
- here I need to output the performance dates that have premiere_toggle=true
- the premiere_type field will be displayed on the same place in the layout as in index.antlers.html
Please do let me know if the premiere_toggle it's not enough to make this work.
I will try to find another solution or gladly listen to your suggestions. -->

<!-- Premieres  -->
<div class="outer-grid fluid-container">
    <!-- Premieres module -->
    <div class="text-3xl lg:text-4xl text-black dark:text-white">Premieres</div>
    {{ collection:veranstaltungen}}
    <div class="md:grid grid-cols-12 gap-4 items-baseline bg-neutral-100 dark:bg-darkGray p-3">
        <div class="col-span-4">
            <!-- Event's category from the Kategorien taxonomy -->
            <button aria-label="Vorstellungen in der {{ kategorien }} {{ title }} {{
                /kategorien }} Kategorie Zeigen"
                class="text-white p-2 text-xs sm:text-sm uppercase tracking-widest font-bold" style="background-color: {{ kategorien }} {{ kategorie_farbe }}{{
                /kategorien }};">{{ kategorien }} <a href="{{ url }}">{{ title }}</a>
                {{ /kategorien }}</button>
            <!-- Special event -->
            {{if special_event_toggle}}
            <div class="pt-1 sm:text-lg text-black dark:text-white tracking-widest font-medium uppercase"
                style="color: {{ special_event_colour }};">{{ special_event_title }}Special event</div>
            {{ /if }}
            <!-- Premiere Type -->
            <div class="pt-1 sm:text-lg text-black dark:text-white tracking-widest font-medium uppercase">
                {{premiere_type}} </div>

            <!-- Event's date and time -->
            <div class="sm:text-lg text-black dark:text-white">{{ perf_date format_localized="%A %d %B %Y" }}</div>
            <div class="sm:text-lg text-black dark:text-white">{{ perf_date format="H:i"}} Uhr</div>
            <!-- monsun.digital -->
            {{if monsun_digital }}<div class="flex pt-1">
                <p class="pr-1 font-medium text-black dark:text-white">monsun</p><img
                    src="/assets/site-setup/logos/monsun-logo-symbol.svg" class="w-6" alt="monsun digital logo" />
                <p class="pl-1 font-medium text-black dark:text-white">digital</p>
            </div>{{ /if }}
        </div>
        <!-- Event's title and subtitle -->
        <div class="col-span-8 sm:text-lg pt-5 md:py-0">
            <div class="text-xl sm:text-2xl font-bold leading-tight md:leading-normal text-black dark:text-white"><a
                    href="{{ url }}">{{ title }}</a>
            </div>
            <div class="sm:text-lg text-black dark:text-white">{{ subtitle }}</div>
            <!-- Few tickets left -->
            {{if few_tickets_left}}<div class=" text-error-600 sm:text-lg"> Restkarten!
            </div> {{ /if }}
            <!-- Last performance -->
            {{if last_performance}}<div class=" text-error-600 sm:text-lg"> Zum letzten Mal!
            </div> {{ /if }}
            <!-- Event's ticket URL -->
            <!-- Tickets sold out -->
            {{ if sold_out}}
            <div class="uppercase tracking-widest text-error-600 sm:text-lg font-bold pt-3">Ausverkauft
            </div>
            <!-- Event cancelled -->
            {{ elseif cancelled }}
            <div class="uppercase tracking-widest text-error-600 sm:text-lg font-bold pt-3">Abgesagt
            </div>
            <!-- Tickets available -->
            {{ else }}
            <button class="uppercase text-black dark:text-white hover:text-monsun sm:text-lg"><a class="block"
                    href="{{ ticket_url }}">
                    <div class="pt-3 tracking-widest font-bold uppercase">Karten<span
                            class="text-monsun font-bold">&nbsp;→</span>
                    </div>
                </a>
            </button>
            {{ /if }}
        </div>
    </div>
    {{ /collection:veranstaltungen }}
    <!-- message 'No Events'  -->
    <div class="text-3xl lg:text-4xl text-black dark:text-white">No events/Keine Vorstellungen zur Zeit</div>
</div>