<!-- This layout is very similar to 'resources/views/veranstaltungen/index.antlers.html'
- here I need to output the performance dates that have premiere_toggle=true
- the premiere_type field will be displayed on the same place in the layout as in index.antlers.html
Please do let me know if the premiere_toggle it's not enough to make this work.
I will try to find another solution or gladly listen to your suggestions. -->

<!-- Premieres  -->
<div class="outer-grid fluid-container">
    <!-- Premieres module -->
    {{ events:premieres as="dates" }}
    {{ if no_results }}
    <div class="text-3xl text-black lg:text-4xl dark:text-white">Keine Premieren zur Zeit</div>
    {{ else }}
    <div class="text-3xl text-black lg:text-4xl dark:text-white">Premieren</div>
    {{ dates }}
    {{ partial:components/monsun_performance_wallpiece}}
    {{ /dates }}
    {{ /if }}
    {{ /events:premieres }}
</div>