<!-- Premieres  -->
<div class="outer-grid fluid-container">
    <!-- Premieres module -->
    {{ events:premieres as="dates" }}
    {{ if no_results }}
    <div class="text-3xl text-black lg:text-4xl dark:text-white">Premieren</div>
    <div class="text-2xl md:col-span-12 text-black dark:text-white">Zur Zeit keine Vorstellungen.</div>
    <div class="pt-9 md:col-span-12"><button aria-label="Zur Startseite"
            class="max-w-sm mx-auto sm:max-w-none flex justify-center text-black dark:text-white ">
            <a href="/" class="flex items-center justify-center px-4 py-3 border-2  text-md font-bold tracking-wider uppercase shadow-sm
                      hover:bg-monsun dark:hover:bg-monsun sm:px-8">Zur Startseite</a>
        </button></div>
    {{ else }}
    <div class="text-3xl text-black lg:text-4xl dark:text-white">Premieren</div>
    {{ dates }}
    {{ partial:components/monsun_performance_wallpiece}}
    {{ /dates }}
    {{ /if }}
    {{ /events:premieres }}
</div>
