/node_modules
/public/hot
/public/assets
/public/storage
/public/vendor/statamic
/public/img/
/public/static/
/storage/*.key
/vendor
.env
.env.backup
/.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
monsunpro.code-workspace
monsuntheater.code-workspace
.DS_Store
/public/css/site.css
/public/js/site.js
/public/js/site.js.map
/public/js/site.js.LICENSE.txt
/public/mix-manifest.json

# IONOS Deploy now homedir files
.actions_env
.template-renderer-data
project-archive.tar.gz
logs/
.bash_profile
.bashrc
.deploy-now/php
.ssh/**
bin/
.local
.wget-hsts
public/.htaccess
