<main>
    {{ collection:veranstaltungen }}
    <div class="relative pb-1">
        <div class="max-w-full mx-auto">
            <div class="relative shadow-xl sm:overflow-hidden">
                <div class="absolute inset-0 object-cover">
                    {{ partial:components/picture class="h-full w-full
                    object-cover" }}
                    <div class="absolute inset-0 bg-neutral-300" style="mix-blend-mode: multiply;">
                    </div>
                </div>
                <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
                    <h1 class="text-center text-4xl font-extrabold tracking-wide sm:text-5xl lg:text-6xl">
                        <span class="block text-white">{{
                            title }}</span>
                    </h1>
                    <p
                        class="mt-6 max-w-lg mx-auto text-center font-medium text-white text-2xl text-indigo-200 sm:max-w-3xl">
                        {{ additional_title }}
                    </p>
                    <button aria-label="Vorstellungen in der {{ kategorien }} {{ title }} {{
                        /kategorien }} Kategorie Zeigen"
                        class="opacity-90 mt-10 max-w-sm mx-auto sm:max-w-none flex justify-center text-md text-white p-2  sm:p-3 sm:text-lg uppercase tracking-widest font-bold"
                        style="background-color: {{ kategorien }} {{ kategorie_farbe }}{{
                        /kategorien }};">{{ kategorien }} <a href="{{ url }}">{{ title }}</a>
                        {{ /kategorien }}</button>
                </div>
            </div>
        </div>
        <div class="text-neutral-300 dark:text-neutral-600 text-xs text-center">© {{
            image_credit }}</div>

    </div>
    <div class="outer-grid fluid-container">
        {{ partial:components/_monsun_perf_info}}
        {{ partial:components/_monsun_perf_dates }}
        {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
        {{ /page_builder }}
    </div>
    <div class="fluid-container">{{ partial:components/swiper_monsun}}</div>
    <div class="outer-grid fluid-container">
        {{ partial:components/_monsun_perf_credits }}
    </div>


    {{ collection:veranstaltungen }}
</main>