<main>
    {{ collection:veranstaltungen }}
    <div class="outer-grid fluid-container">

        <div>
            <div class="text-xs sm:text-sm uppercase tracking-widest font-bold" style="color: {{ kategorien }} {{ kategorie_farbe }}{{
                /kategorien }};">{{ kategorien }} {{ title }}
                {{ /kategorien }}</div>
            <div
                class="text-xl sm:text-3xl xl:text-4xl font-bold leading-tight md:leading-none pt-5 max-w-md xl:max-w-lg">
                {{ title
                }}</div>
            <div class="text-lg sm:text-xl leading-tight"> {{ untertitel }}</div>
        </div>
        <div class="relative">
            <img src="https://source.unsplash.com/FNv2A112Kl8/1400x800" alt="">
        </div>

        {{ partial:components/_monsun_vstinfo}}
        {{ partial:components/_monsun_vst_termine }}
        {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
        {{ /page_builder }}
    </div>
    {{ partial:components/_swiper_monsun}}
    <div class="outer-grid fluid-container">
        {{ partial:components/_monsun_vst_info_besetzung }}
    </div>
    {{ collection:veranstaltungen }}
</main>