<main>
    {{ collection:veranstaltungen }}
    <div class="outer-grid fluid-container">
        <div>
            <div class="text-xs sm:text-sm uppercase tracking-widest font-bold" style="color: {{ kategorien }} {{ kategorie_farbe }}{{
                /kategorien }};">{{ kategorien }} <a href="{{ url }}">{{ title }}</a>
                {{ /kategorien }}</div>
            {{ partial src="typography/h1" :content="title" }}
            {{ if show_add_title }}<div>{{ additional_title }}</div> {{ /if}}
            <div class=" text-lg sm:text-xl leading-tight"> {{ subtitle }}
            </div>
        </div>
        <div class="relative">
            {{partial:components/figure_onesize}}
        </div>
        {{ partial:components/_monsun_perf_info}}
        {{ partial:components/_monsun_perf_dates }}
        {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
        {{ /page_builder }}
    </div>
    <div class="outer-grid fluid-container">
        {{ partial:components/_monsun_perf_credits }}
    </div>
    {{ collection:veranstaltungen }}
</main>