<!-- Aktuelles w iso -->
<div class="text-3xl lg:text-4xl text-black dark:text-white">Aktuelles</div>
{{ collection:aktuelles }}
<div class="md:grid grid-cols-12 gap-4 items-baseline pb-3">
    <div class="col-span-4">
        <div class="sm:text-lg text-black dark:text-white">
            {{ date iso_format="dddd, Do MMMM YYYY" }}
        </div>
    </div>
    <div class="col-span-8">
        <a href="{{ url }}">
            <div
                class="text-xl sm:text-2xl font-bold leading-tight text-black dark:text-white"
            >
                {{ title }}
            </div>
            <div class="sm:text-lg pb-2 text-black dark:text-white">
                {{ untertitel }}
            </div>
            <figure class="pb-3">
                <img src="{{ bild_url }}" alt="" loading="lazy" />
            </figure>
            <div
                class="text-sm sm:text-base text-black dark:text-white hover:text-monsun dark:hover:text-monsun duration-300"
            >
                {{ einleitung }}<span class="text-monsun font-bold"> →</span>
            </div>
        </a>
    </div>
    <span class="pb-6"></span>
</div>
{{ /collection:aktuelles }}
