<article class="outer-grid fluid-container">
    <!-- Aktuelles w iso -->
    <h1 class="text-3xl lg:text-4xl text-black dark:text-white">Aktuelles</h1>
    <div class="md:grid grid-cols-12 gap-4 items-baseline">
        <div class="col-span-4">
            <div class="sm:text-lg text-black dark:text-white">
                {{ date iso_format="dddd, Do MMMM YYYY" }}
            </div>
        </div>
        <div class="col-span-8">
            <h2
                class="text-xl sm:text-2xl font-bold leading-tight text-black dark:text-white"
            >
                {{ title }}
            </h2>
            <div class="sm:text-lg pb-2 text-black dark:text-white">
                {{ untertitel }}
            </div>
            {{ if video_link }} {{# A sizeable video rendered in a responsive
            container with an optional caption. #}}
            <div class="size-lg">
                <div class="relative aspect-video">
                    <lite-vimeo
                        videoid="{{ akt_video_url | explode('/') | last | explode('?') | first }}"
                    ></lite-vimeo>
                </div>
                {{ if akt_caption }}
                <div
                    class="mt-2 text-neutral-300 dark:text-neutral-600 text-xs text-center"
                >
                    {{ akt_caption }}
                </div>
                {{ /if }}
            </div>
            {{ else }}
            <figure class="pb-3">
                {{ partial:components/picture class="w-full" lazy="true" }}
            </figure>
            <div
                class="text-neutral-300 dark:text-neutral-600 text-xs text-center"
            >
                © {{ image_credit }}
            </div>
            {{ /if }}
        </div>
    </div>
    {{ page_builder scope="block" }} {{ partial src="page_builder/{type}" }} {{
    /page_builder }}

    <div class="md:grid grid-cols-12 gap-4 items-baseline pb-3">
        <div class="col-span-8 col-start-5">
            {{ collection:previous in="blog" as="posts" limit="2"
            sort="date:asc" }} {{ if no_results }} {{ /if }} {{ posts }}
            <button
                class="text-black dark:text-white pt-3 font-bold tracking-widest uppercase leading-none select-none whitespace-normal text-lg hover:text-monsun dark:hover:text-monsun"
            >
                <a href="{{ url }}"
                    ><span class="text-monsun font-bold">←</span> {{ title }}
                </a>
            </button>
            {{ /posts }} {{ /collection:previous }} {{ collection:next
            in="posts" as="posts" limit="1" sort="date:asc" }} {{ if no_results
            }} {{ /if }} {{ posts }}
            <button
                class="text-black dark:text-white pt-3 tracking-widest font-bold uppercase leading-none select-none whitespace-normal text-lg hover:text-monsun dark:hover:text-monsun"
            >
                <a href="{{ url }}"
                    >{{ title }}
                    <span class="text-monsun font-bold"> →</span></a
                >
            </button>
            {{ /posts }} {{ /collection:next }}
        </div>
    </div>
</article>
