
APP_NAME='monsun.theater'
APP_ENV=production
APP_KEY=base64:deNlcCE15trknZicUmGtFcHhNR0CsS1Ayj162aHDOTo=
APP_DEBUG=true
APP_URL=https://home-5018472447.app-ionos.space
APP_LOCALE=de
LOG_CHANNEL=stack
IMAGE_MANIPULATION_DRIVER=imagick

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync       # switch to redis/queues later if needed


MAIL_MAILER=sendmail
MAIL_HOST=smtp.ionos.de
MAIL_PORT=587
MAIL_USERNAME=info@monsun.theater
MAIL_PASSWORD=monsun.thE@ter1980
MAIL_ENCRYPTION=TLS
MAIL_FROM_ADDRESS=info@monsun.theater
MAIL_FROM_NAME="${APP_NAME}"

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

DEBUGBAR_ENABLED=false
SAVE_CACHED_IMAGES=true
CACHING_STRATEGY=full
STATAMIC_API_ENABLED=false
STATAMIC_CACHE_TAGS_ENABLED=false
STATAMIC_GIT_ENABLED=true
STATAMIC_GIT_AUTOMATIC=true
STATAMIC_GIT_PUSH=true
STATAMIC_GIT_DISPATCH_DELAY=5
STATAMIC_REVISIONS_ENABLED=false
STATAMIC_STACHE_WATCHER=false
STATAMIC_GIT_USER_NAME=monsunpro
STATAMIC_GIT_USER_EMAIL=tom@horeberg.de


STATAMIC_CUSTOM_LOGO_NAV_URL='/assets/site-setup/logos/statamic-monsun-logo-cp.png'
STATAMIC_CUSTOM_LOGO_OUTSIDE_URL='/assets/site-setup/favicons/mstile-70x70.png'

PRESSE_PASSWORD=monsun2021
MAILCHIMP_APIKEY=ee6cfbeaaed3506c709d0c4c92102f36-us1
STATAMIC_LICENSE_KEY=dv906762xq5jlpzm
MAILCHIMP_API_KEY=ee6cfbeaaed3506c709d0c4c92102f36-us1