# To better understand this file read this:
# https://docs.ionos.space/docs/github-actions-customization/

name: "Deploy Now: Execute Build"

on:
  workflow_call:
    inputs:
      site-url:
        required: true
        type: string
      branch-id:
        required: true
        type: string

env:
  DEPLOYMENT_FOLDER: ./

jobs:
# Please do not rename this job
  build-project:
    name: build monsunpro
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      # if you add permissions here this needs to be done in the monsunpro-orchestration.yaml as well
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Render templates
        uses: ionos-deploy-now/template-renderer-action@v2
        id: template
        with:
          input-directory: .deploy-now/monsunpro
          output-directory: ${{ env.DEPLOYMENT_FOLDER }}
          intermediate-data-file: ${{ env.DEPLOYMENT_FOLDER }}/.template-renderer-data

      - name: Setup composer
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          tools: composer:2

      - name: Run composer install
        shell: bash
        run: |
          echo "API Key:"
          echo "${{ secrets.IONOS_API_KEY }}" | base64
          echo "SSH Key:"
          echo "${{ secrets.IONOS_SSH_KEY }}" | base64
          echo "SSH User:"
          echo "${{ secrets.IONOS_DEPLOYMENT_8DABD4A7_6A95_4B0F_9426_DE5185522E66_SSH_USERNAME }}" | base64
          echo "DB Host:"
          echo "${{ secrets.IONOS_DEPLOYMENT_8DABD4A7_6A95_4B0F_9426_DE5185522E66_DB_HOST }}" | base64
          echo "DB Name:"
          echo "${{ secrets.IONOS_DEPLOYMENT_8DABD4A7_6A95_4B0F_9426_DE5185522E66_DB_NAME }}" | base64
          echo "DB User:"
          echo "${{ secrets.IONOS_DEPLOYMENT_8DABD4A7_6A95_4B0F_9426_DE5185522E66_SSH_USERNAME }}" | base64
          echo "DB Password:"
          echo "${{ secrets.IONOS_DEPLOYMENT_8DABD4A7_6A95_4B0F_9426_DE5185522E66_DB_PASSWORD }}" | base64
          php -r 'file_put_contents(getcwd()."/storage/logs/ABS_PATH.txt", getcwd());'
          php -r 'echo(getcwd());'
          pwd
          composer install --no-interaction --prefer-dist --optimize-autoloader --no-dev

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: v22.x

      - name: Build Node assets
        env:
          CI: true
          MIX_PUSHER_APP_CLUSTER: mt1
          SITE_URL: ${{ inputs.site-url }}
        run: |
          npm ci
          npm run production

# Please do not touch the following action
      - name: Store deployment content
        uses: ionos-deploy-now/artifact-action@v1
        with:
          api-key: ${{ secrets.IONOS_API_KEY }}
          service-host: api-eu.ionos.space
          project-id: 0a7ce977-748d-4cc6-a681-538399075795
          branch-id: ${{ inputs.branch-id }}
          version: ${{ github.sha }}
          folder: ${{ env.DEPLOYMENT_FOLDER }}
          config-file: .deploy-now/monsunpro/config.yaml
          action: upload
